<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Dead line</h1>
    <h2>Dead line</h2>
    <h3>Dead line</h3>
    <a href='http://dantri.com.vn/'target='_blank'>Click vào em đi</a>
    <img src="static/ula.jpg" alt="">
     <span class="">
      <h3>Rét lắm</h3>


    </span>
    <span class="">
      lớp bật điều hòa nóng quá
      <a href='https://google.com'target='_blank'>Google</a>
    </span>
    <!-- unordered list -->
    <ul>
      <!--List item  -->
    <ol>
      <li>ưant</li>
    </ol>
    </ul>
  </body>
</html>
