<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Article-HTML-Only</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="logo newyork">
    <div class="">
      <ul>

        <li><a href="https://www.newyorker.com/news">News</a></li>
        <li><a href="https://www.newyorker.com/culture">Cultrure</a</li>
        <li><a href="https://www.newyorker.com/books">Books</a></li>
        <li><a href="https://www.newyorker.com/humor">Humor</a></li>
      </ul>

      <a href="https://www.newyorker.com/books">Books</a>
      <a href="https://itunes.apple.com/app/apple-store/id1081530898?mt=8">November 27,2017 Issues</a>
    </div>

    <div class="">
      <h3>What Mart Oliver's Critics Don't Understand</h3>
      <h2>For America's most beloved poet, paying attention yo nature is a sprinng board to the sacred</h2>
      By <a href="https://Rlit.com">Rulit Frackin</a>
    </div>

    <ul>
      <li><img src="static/facebook.svg" alt=""></li>
      <li><img src="static/twitter.svg" alt=""></li>
      <li><img src="static/email.svg" alt=""</li>
      <li><img size width="500" src="static/img.jpg" alt=""></li>
      <p>Oliver uses nature as a springborad to sacred - the beating of her work</p>
      <h6>Illstrutatuon by Deanna Halsall</h6>
    </ul>

    <div class="">
      Mary Oliver is saving my life,” Paul Chowder, the title character of Nicholson Baker’s novel “The Anthologist,” scrawls in the margins of Oliver’s “New and Selected Poems, Volume One.” A struggling poet, Chowder is suffering from a severe case of writer’s block. His girlfriend, with whom he’s lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones—Louise Bogan, Theodore Roethke, Sara Teasdale—before discovering Oliver. In her work, he finds consolation: “I immediately felt more sure of what I was doing.” Of her poems, he says, “They’re very simple. And yet each has something.”
    </div>

    <ul>
      <div class="">
        <p>I don’t know exactly what a prayer is<br>
         I do know how to pay attention, how to fall down<br>
         into the grass, how to kneel down in the grass,<br>
         how to be idle and blessed, how to stroll through the fields,<br>
         which is what I have been doing all day.</p>
      </div>
    </ul>

    <p>The cadences are almost Biblical. “Attention is the beginning of devotion,” she urges elsewhere.</p>
    <p>This article appears in the print edition of the November 27, 2017, issue, with the headline “The Art of Paying Attention.”</p>

    <h2>
      Most Popular
    </h2>
    <ol>
      <li>
        <p>letter from washington</p>
        <a href="#">The Danger of Presidnet Pence</a>
        <p>By <a href="#">Jane Mayer</a></p>
      </li>

      <li>
        <p>Our Column list</p>
        <a href="#">No end in sight Brexit madness</a>
        <p>By <a href="#">John cassidy</a></p>
      </li>

      <li>
        <p>Satire from The Borowiitz Report</p>
        <a href="#">Muller giant Warehosue to store</a>
        <p>By <a href="#">Andy Borowitz</a></p>
      </li>
    </ol>

    <p>Daily Cartoon</p>
    <a href="#"><h1>Daily Cartoon: Friday, November24</h1></a>
    <h2>Forggeting the garnish</h2>
    <p>By <a href="#">lianan Fick</a></p>
    <p>Nov. 24,2017<br>Elements</p>

    <a href="#"><h1>At Berkerly , a New Generation of Ethical hackers learns  the DO's and DOnt's of Cybersecurity</h1></a>
    <h2>How Long Would it take a junior computer-science major to disrupt an election</h2>
    <p>By <a href="#">Anna witer</a></p>
    <p>Nov.24 2017</p>
    <a href="#">Listen to radio newyorker</a>
    <p><a href="#">Buy the cover</a></p>
    <a href="#">Play The Jigsaw Puzzle</a>
  </body>
</html>
